# Configuration file
/config.php
/secrets.php

# NodeJS dependencies
/node_modules/

# Coingecko export data
/storage/coingecko.json
/storage/coingecko-original.json
/storage/coingecko-currencies.json
/storage/cache/

# Secret files
/secrets.php

# Compiled files
/public/js/
/public/css/
